﻿@{
    ViewBag.Title = "Index";
    ViewBag.ActiveBar = "Home";
}
 @{
      var user = GenR.Web.Helpers.SessionHelper.Get<GenR.Domain.Security.User>(Session, GenR.Web.Constants.CURRENT_USER);
     var name = user == null ? string.Empty : user.Name.ToUpper();
                }
<h2>
   Welcome @name !</h2>
