﻿<div style="margin-left : 2.4%">
    <form class="form-inline" action="" data-bind="with:$root.selectedPerm">
    <fieldset>
        <legend style="width: 50%;">Edit permission</legend>Permission Name :
        <input type="text" class="input-small" placeholder="PermName" data-bind=" value:PermName" /><br />
        <br />  <button type="submit" class="btn btn-success" data-bind="click:function(){commitAll(); $root.edit($data)}">
            Update</button>
        <button class="btn" data-bind="click:function(){resetAll(); $root.cancelEdit()}">
            Cancel<br /></button>
                  </fieldset>
    </form>
</div>
