﻿<div style="margin-left: 2.4%">
    <form class="form-inline" action="" data-bind="with:$root.selectedUser">
    <fieldset>
        <legend style="width: 50%;">Edit user</legend>Name :
        <input type="text" class="input-small" placeholder="Name" data-bind=" value:Name" /><br />
        <br />
        Email :
        <input type="text" class="input-small" placeholder="Email" data-bind="value:Email" /><br />
        <br />
         <button type="button" class="btn btn-danger" data-bind="click: function(){$root.reset($data);}">
            Reset password</button>
            <input type="text" class="input-small" data-bind="value:Password" readonly/><br /><br />
        <button type="submit" class="btn btn-success" data-bind="click:function(){commitAll(); $root.edit($data)}">
            Update</button>
        <button class="btn" data-bind="click:function(){resetAll(); $root.cancelEdit()}">
            Cancel<br />
        </button>
    </fieldset>
    </form>
</div>
