﻿<div style="margin-left : 2.4%">
    <form class="form-inline" action="" data-bind="with:$root.selectedRole">
    <fieldset>
        <legend style="width: 50%;">Edit role</legend>RoleName :
        <input type="text" class="input-small" placeholder="RoleName" data-bind=" value:RoleName" /><br />
        <br />
       
        <button type="submit" class="btn btn-success" data-bind="click:function(){commitAll(); $root.edit($data)}">
            Update</button>
        <button class="btn" data-bind="click:function(){resetAll(); $root.cancelEdit()}">
            Cancel<br />
        </button>
    </fieldset>
    </form>
</div>
