﻿<div style="margin-left: 2.4%" data-bind="with:$root.selectedRole">
    <h2 data-bind="text:RoleName">
    </h2>
    <table class="table table-striped table-bordered" style="width: 20%;">
        <thead>
            <tr>
                <th>
                    Name
                </th>
            </tr>
        </thead>
        <tbody data-bind="foreach:Perms ">
            <tr>
                <td>
                    <input type="checkbox" data-bind="attr: { value: $data}, checked: Allowed" />
                </td>
                <td data-bind="text:PermName">
                </td>
            </tr>
        </tbody>
    </table>
    <button type="submit" class="btn btn-success" data-bind="click:function(){commitAll(); $root.setPerms($data)}">
        Save</button>
    <button class="btn" data-bind="click:function(){resetAll(); $root.cancelPerm()}">
        Cancel
    </button>
</div>

