﻿<div style="margin-left: 2.4%" data-bind="with:$root.selectedUser">
    <h2 data-bind="text:Name">
    </h2>
    <table class="table table-striped table-bordered" style="width: 20%;">
        <thead>
            <tr>
                <th colspan="2">
                    Roles
                </th>
                <th colspan="2">
                </th>
            </tr>
        </thead>
        <tbody data-bind="foreach:Role ">
            <tr>
                <td>
                    <input type="checkbox" data-bind="attr: { value: $data}, checked: Allowed" />
                </td>
                <td data-bind="text:RoleName">
                </td>
               <td style="font-size: 0.8em;" nowrap>
                            <div data-bind="visible:!ShowPermList()">
                                <a href="#" data-bind="click:function(){ShowPermList(true); $root.GetPermsForRole($data.Id);}">
                                    Show permission </a>
                            </div>
                            <div data-bind="visible:ShowPermList()">
                                <span data-bind="text: PermList"></span><a href="#" class="close" data-bind="click:function(){ShowPermList(false);}">
                                    &times;</a>
                            </div>
                        </td>
            </tr>
        </tbody>
    </table>
    <button type="submit" class="btn btn-success" data-bind="click:function(){commitAll(); $root.setRole($data)}">
        Save</button>
    <button class="btn" data-bind="click:function(){resetAll(); $root.cancelRole()}">
        Cancel
    </button>
</div>
