﻿<div data-bind="visible:$root.showNewPermForm()">
    <form class="form-inline" action="" data-bind="with:$root.np">
    <fieldset>
        <legend>Create permission</legend>
        <input type="text" class="input-small" placeholder="Name" data-bind="value:PermName" /><br /><br />
         <button type="submit" class="btn btn-success" data-bind="click:function(){$root.create()}">
            Create</button>
        <button class="btn" data-bind="click:function(){$root.cancelCreate()}">
            Cancel
        </button><br /><br />
    </fieldset>
    </form>
</div>