﻿<div data-bind="visible:$root.showNewUserForm()">
    <form class="form-inline" action="" data-bind="with:$root.nu">
    <fieldset>
        <legend>Create user</legend>
        <input type="text" class="input-small" placeholder="Name" data-bind="value:Name" /><br /><br />
        <input type="text" class="input-small" placeholder="Email" data-bind="value:Email" /><br /><br />
        <button type="submit" class="btn btn-success" data-bind="click:function(){$root.create()}">
            Create</button>
        <button class="btn" data-bind="click:function(){$root.cancelCreate()}">
            Cancel
        </button><br /><br />
    </fieldset>
    </form>
</div>
