﻿ <div class="pagination">
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
                <td style="width: 10%;">
                    <select data-bind="options: filter.availablePageSize, value: filter.pageSize" style="width: 60px;">
                    </select>
                </td>
                <td style="width: 80%;" align="center">
                    <div class="input-prepend input-append">
                        <button class="btn" type="button" data-bind="click:function(){filter.firstPage();}">
                            <i class="icon-step-backward"></i>
                        </button>
                        <button class="btn" type="button" data-bind="click:function(){filter.prevPage();}">
                            <i class="icon-chevron-left"></i>
                        </button>
                       <input type="text" class="input-mini" name="textfield" data-bind="attr : {placeholder : filter.currentPage()} ,value:filter.currentPage , valueUpdate: 'afterkeydown', returnKey : function(){filter.Query()  ;} " />
                        <button class="btn" type="button" data-bind="click:function(){filter.nextPage();} ">

                            <i class="icon-chevron-right"></i>
                        </button>
                        <button class="btn" type="button" data-bind="click:function(){$root.filter.GotoLastPage()}">
                            <i class="icon-step-forward"></i>
                        </button>
                    </div>
                </td>
                <td align="right" style="width: 10%;">
                    <div class="input-append">
                        <input type="search" class="input-mini" data-bind="attr : {placeholder : 'Search..'}" autocomplete="off" />
                        <button class="btn"type="button" data-bind=" ">
                            <i class="icon-search"></i>
                        </button>
                    </div>
                </td>
            </tr>
        </table>
    </div>