﻿<script type="text/javascript">

    var z = function (i, n) {
        var self = this;
        self.Id = i;
        self.PermName = ko.protectedObservable(n);
        self.commitAll = function () {
            self.PermName.commit();
        };
        self.resetAll = function () {
            self.PermName.reset();
        }
    };

    vm.p.items = ko.observableArray([]);

    vm.p.list = function () {
        vm.p.filter.Query();
    }


    /*New Perm section */
    newPerm = function (n) {
        var self = this;
        self.PermName = ko.observable(n);
    };
    vm.p.np = ko.observable();
    vm.p.showNewPermForm = ko.observable(false);
    vm.p.startCreate = function () {
        vm.p.np(new newPerm("", ""));
        vm.p.showNewPermForm(true);
    }
    vm.p.cancelCreate = function () {
        vm.p.np(new newPerm("", ""));
        vm.p.showNewPermForm(false);
    }
    vm.p.create = function () {
        var jsonData = ko.toJSON(vm.p.np);
               $.ajax({
            url: gr.baseURL + "/perm/create",
            type: "post",
            contentType: 'application/json; charset=utf-8',
            data: jsonData,
            success: function () {
                vm.p.list();
                vm.p.showNewPermForm(false);
            }
        });
    }
    /*New permission section --ends*/

    /*Edit perm section */

    editPerm = function (i, n) {
        var self = this;
        self.Id = ko.observable(i);
        self.PermName = ko.observable(n);
    };

    vm.p.selectedPerm = ko.observable();
    vm.p.showEditPermForm = ko.observable(false);

    vm.p.startEdit = function (id) {
        //Select perm
        var selItem = ko.utils.arrayFirst(vm.p.items(), function (x) { return x.Id == id });
        vm.p.selectedPerm(selItem);
        vm.p.showEditPermForm(true);
    }
    vm.p.cancelEdit = function () {
        vm.p.showEditPermForm(false);
    }
    vm.p.edit = function (data) {
        var item = ko.toJSON(data);
        $.ajax({
            url: gr.baseURL + "/perm/edit",
            type: "post",
            contentType: 'application/json; charset=utf-8',
            data: item,
            success: function () {
                vm.p.list();
                vm.p.showEditPermForm(false);
            }
        });
    }
    /*edit section --ends*/

    vm.p.filter = vm.p.filter || {};
    vm.p.filter.QueryString = function () {
        var q = "?";
        if (vm.p.filter.pageSize()) {
            var skipVal = (vm.p.filter.currentPage() - 1) * vm.p.filter.pageSize();
            q = q + "$top=" + vm.p.filter.pageSize() + "&$skip=" + skipVal;
        }
        if (vm.p.filter.SortOn()) {
            q = q + "&$orderby=" + vm.p.filter.SortOn() + " " + vm.p.filter.SortOrder();
        }
        return q == "?" ? "" : q;

    }
    vm.p.filter.Query = function () {
        var sURL = gr.apiURL + "/Perm" + vm.p.filter.QueryString();
                $.ajax({
            url: sURL,
            type: "get",
            contentType: 'application/json; charset=utf-8',
            success: function (data) { vm.p.items([]); $.each(data, function (k, v) { vm.p.items.push(new z(v.Id, v.PermName)) }); }
        });
    }
    vm.p.filter.Sort = function (v) {
        vm.p.filter.SortOn(v);
        vm.p.filter.ToggleSort();
        vm.p.filter.Query();
    }
    vm.p.filter.SortOn = ko.observable('');
    vm.p.filter.SortOrder = ko.observable('');
    vm.p.filter.ToggleSort = function () {
        if (vm.p.filter.SortOrder())
            vm.p.filter.SortOrder() == "asc" ? vm.p.filter.SortOrder("desc") : vm.p.filter.SortOrder("asc");
        else
            vm.p.filter.SortOrder("asc");
    };

    //Paging section
    vm.p.filter.availablePageSize = ko.observableArray([10, 20, 30, 40, 50]);
    vm.p.filter.pageSize = ko.observable('2');
    vm.p.filter.pageSize.subscribe(function (v) { vm.p.filter.Query(); });
    vm.p.filter.currentPage = ko.observable(1);
    vm.p.filter.firstPage = function () { if (parseInt(vm.p.filter.currentPage()) == 1) return; vm.p.filter.currentPage(1); vm.p.filter.Query(); }
    vm.p.filter.nextPage = function () { var incPage = parseInt(vm.p.filter.currentPage()) + 1; vm.p.filter.currentPage(incPage); vm.p.filter.Query(); }
    vm.p.filter.prevPage = function () {
        if (parseInt(vm.p.filter.currentPage()) == 1) return;
        var decPage = parseInt(vm.p.filter.currentPage() - 1);
        vm.p.filter.currentPage(decPage);
        vm.p.filter.Query();
    }
    
</script>   
<div id="divPerm">
<div data-bind="visible:$root.showEditPermForm()">
        @Html.Partial("_EditPerm")
    </div>
<div class="span6" data-bind="visible: !($root.showEditPermForm())">
 @Html.Partial("_Pagination")
<a href="#" data-bind="click: function(){$root.startCreate();}, visible: !$root.showNewPermForm()">
        Create permission</a>
  @Html.Partial("_NewPerm")
    <table class="table table-striped table-bordered" style="width: 20%;">
        <thead>
            <tr>
                <th>
                    <a href="#" data-bind="click: function() {$root.filter.Sort('PermName');}">Name </a>
                </th>
                
            </tr>
        </thead>
        <tbody data-bind="foreach: items,sortable: items">
            <tr>
                <td>
                    <a href="#" data-bind="text:PermName, click: function(){$root.startEdit($data.Id);}">
                    </a>
                </td>
               </tr>
        </tbody>
    </table>
     @Html.Partial("_Pagination")
</div>
</div>    

<script type="text/javascript">

    ko.applyBindings(vm.p, document.getElementById('divPerm'));
    $(function () {
        vm.p.list();
    });
</script>