﻿@{
    ViewBag.Title = "Index";
    ViewBag.ActiveBar = "Admin";
    
}
<script type="text/javascript">
    vm = {};
    vm.u = {};
    vm.r = {};
    vm.p = {};
   
</script>
<div class="tabbable" style="padding: 3px;">
    <ul id="myTab" class="nav nav-tabs">
        <li class="active"><a href="#user" data-toggle="tab">Users</a></li>
        <li ><a href="#roles" data-toggle="tab">Roles</a></li>
        <li><a href="#permissions" data-toggle="tab">Permissions</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade in active" id="user"  >
            @Html.Partial("_User")
        </div>
        <div class="tab-pane fade in" id="roles"> @Html.Partial("_Roles")</div>
        <div class="tab-pane fade in " id="permissions">
            @Html.Partial("_Permissions")</div>
        
    </div>
    
</div>

