﻿@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Account.cshtml";
}
<style type="text/css">
           
            
  body {text-align:center;}
       
    </style>
<div class="span4"  style="margin-left: 15%; margin-right: 15%;">
    @using (Html.BeginForm("login", "account"))
    { 
        <fieldset>
            <legend>Enter your credentials</legend>
            @if (TempData["loginFailed"] != null)
            {
                <div class="alert alert-error" style="padding-top: 0; padding-bottom: 0;">
                    <button type="button" class="close" data-dismiss="alert" style="margin-top: 8px;">
                        ×</button>
                    <p style="margin-top: 6px;">@TempData["loginFailed"]</p>
                </div>
            }
            <table cellpadding="0" cellspacing="0" border="0" class="center" >
           
                <tr>
                    <td style="text-align: right;">
                        <label for="userName">
                            User name:
                        </label>
                    </td>
                    <td>
                        <input type="text" id="userName" name="userName" placeholder="Name" style="margin-left: 12px;" autofocus="autofocus"
                            required title="User name is required" />
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right;">
                        <label for="password">
                            Password:
                        </label>
                    </td>
                    <td>
                        <input type="password" id="password" name="password" placeholder="Password" style="margin-left: 12px;" required="required"
                            title="Password is required" />
                    </td>
                </tr>
            </table>
            <hr />
        </fieldset>
        <input type="submit" value="Login" class="pull-right btn btn-success" />
    }
</div>
