﻿@{
    ViewBag.Title = "Logout";
    Layout = "~/Views/Shared/_Account.cshtml";
}
<hr />
@using (Html.BeginForm("logout", "account"))
{
    
    <div>
        <a href="/Account/Login">Logout</a>
    </div>
    <hr />
}
