﻿@{
    ViewBag.Title = "Preferences";
}

<script type="text/javascript">
    vm = {};
    var user = function () {
        var self = this;
        self.Id = ko.observable();
        for (var n in arguments[0]) {
            try { self[n](arguments[0][n]); } catch (e) { continue; }
        }
    };
    vm.users = ko.observableArray([]);
    vm.QueryString = function () {
        var q = "?";
        if (vm.pageSize()) {
            q = q + "$top=" + vm.pageSize() + "&$skip=0";
        }
        return q == "?" ? "" : q;
    }

    vm.Query = function () {
        var sURL = gr.apiURL + "/user" + vm.QueryString();
        $.ajax({
            url: sURL,
            type: "get",
            contentType: 'application/json; charset=utf-8',
            success: function (data) { vm.users([]); $.each(data, function (k, v) { vm.users.push(new user(v)) }); }
        });
    }
 
    vm.availablePageSize = ko.observableArray([10, 20, 30, 40, 50]);
    vm.pageSize = ko.observable();
    vm.pageSize.subscribe(function (v) { vm.Query(); });
</script>

<h3>Preferences </h3>
Set page size : <select data-bind="options: $root.availablePageSize, value: $root.pageSize" style="width: 60px;">
 </select>

 <script type="text/javascript">
     ko.applyBindings(vm);
 </script>