﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" content="HTML,CSS,XML,JavaScript" />
    <title>@ViewBag.Index</title>
    <meta name="viewport" content="width=device-width" />
    <link href="/Content/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <style type="text/css">
        body
        {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
    </style>
    <link href="/Content/bootstrap/bootstrap-responsive.min.css" rel="stylesheet" />
    @System.Web.Optimization.Styles.Render("~/Content/css")
    @System.Web.Optimization.Scripts.Render("~/bundles/modernizr")
    <script src="/Scripts/jquery-1.8.3.min.js" type="text/javascript"></script>
    <script src="/Scripts/knockout-2.2.0.js" type="text/javascript"></script>
    <script src="/Scripts/ko-extensions.js" type="text/javascript"></script>
  
</head>
<body>
    <script type="text/javascript">
        var gr = gr || {}; //GenR namespace
        gr.baseURL = "http://localhost:3247";
        gr.apiURL = "http://localhost:3247/api";
    </script>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span
                    class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                </a><a class="brand" href="../Home/Index">GenR</a>
                <div class="nav-collapse collapse">
                    @{var ab = ViewBag.ActiveBar;}
                    <ul class="nav">
                        <li id="liHome" class="@(ab == "Home" ? "active" : "")"><a href="../home">Home</a></li>
                        <li id="liReport" class="@(ab == "Report" ? "active" : "")"><a href="../report">Reports</a></li>
                        <li id="liAdmin" class="@(ab == "Admin" ? "active" : "")"><a href="../admin">Admin</a></li>
                    </ul>
                    
                </div>
                <!--/.nav-collapse -->
                @{
                    var user = GenR.Web.Helpers.SessionHelper.Get<GenR.Domain.Security.User>(Session, GenR.Web.Constants.CURRENT_USER);
                    var email = user == null ? string.Empty : user.Email;
                }
                <ul class="nav pull-right">
                    <li id="fat-menu" class="dropdown"><a href="#" id="drop3" role="button" class="dropdown-toggle"
                        data-toggle="dropdown">@email <b class="caret"></b></a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
                            <li><a tabindex="-1" href="../Account/Profile">Profile Management</a></li>
                            <li><a tabindex="-1" href="../Account/Preferences">Preferences</a></li>
                            <li class="divider"></li>
                            <li class="navbar-link"><a tabindex="-1" href="../account/logout">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
    </div>
    <!-- /container -->
    @RenderBody()
    @System.Web.Optimization.Scripts.Render("~/bundles/jquery")
    <script src="/Scripts/site.js" type="text/javascript"></script>
    <script src="/Scripts/bootstrap.js" type="text/javascript"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
